*.class
*.dll
*.egg-info/
*.exe
*.kate-swp
*.o
*.pyc
*.pyo
*.so
*.swp*
*~
.DS_Store
.DS_Store?
.Spotlight-V100/
.Trashes/
._*
.directory
/.mypy_cache/
/dist/
/docs/_build/
/node_modules/
Thumbs.db
__pycache__/
