[GENERAL]
disable=invalid-name,
        missing-docstring,
        missing-module-docstring,
        missing-function-docstring
        too-many-statements,
        ungrouped-imports

[DESIGN]
good-names=cb
