[GENERAL]
disable=consider-using-f-string,
        invalid-name,
        missing-docstring,
        missing-module-docstring,
        missing-function-docstring,
        too-many-statements,
        ungrouped-imports,
        unspecified-encoding
