[GENERAL]
disable=invalid-name,
        missing-docstring,
        missing-module-docstring,
        missing-function-docstring,
        too-many-statements,
        unspecified-encoding,
        use-dict-literal
