{
  "python.analysis.diagnosticSeverityOverrides": {
    "reportConstantRedefinition": "none",
    "reportGeneralTypeIssues": "none",
    "reportPrivateUsage": "none",
    "reportUnknownLambdaType": "none",
    "reportUnnecessaryCast": "none"
  },
  "python.formatting.provider": "yapf",
  "python.linting.mypyEnabled": false,
  "python.linting.pylintEnabled": true,
  "python.pythonPath": "/opt/local/bin/python"
}
