name: 'Windows Installer'

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'

permissions:
  attestations: 'write'
  contents: 'write'
  id-token: 'write'

jobs:
  pyinstaller:
    uses: './.github/workflows/pyinstaller.yml'

  build-installer:
    runs-on: 'windows-latest'
    needs: pyinstaller
    steps:
      - name: 'Checkout repository'
        uses: 'actions/checkout@v6'

      - name: 'Download PyInstaller artifact'
        uses: 'actions/download-artifact@v6'
        with:
          name: open-in-mpv-binaries-win-x86_64
          path: dist

      - name: 'Install NSIS'
        run: |
          choco install nsis -y
        shell: 'pwsh'

      - name: 'Build installer'
        run: |
          & "C:\Program Files (x86)\NSIS\makensis.exe" installer.nsi
        shell: 'pwsh'

      - name: 'Upload installer artifact'
        uses: 'actions/upload-artifact@v6'
        with:
          if-no-files-found: error
          name: open-in-mpv-installer
          path: 'open-in-mpv-*-setup.exe'

      - name: 'Attest installer'
        uses: 'actions/attest-build-provenance@v3'
        with:
          subject-path: 'open-in-mpv-*-setup.exe'

      - if: github.ref_type == 'tag'
        name: 'Upload installer to release'
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: 'open-in-mpv-*-setup.exe'
